{% render 'partials/head.liquid' %}

<section class="inleiding-ilw width">
    <h1>Daily Journal</h1>
    <p>Op deze pagina houd ik mijn dagelijkse werkzaamheden en handige feitjes/tips bij. Ook link ik naar gemaakte werk
        en werk experimenten waar ik trots op ben.</p>
</section>

<!-- Tabs voor de verschillende sprints -->
<ul class="tabs">
    {% for sprint in sprintEntries %}
    <li>
        <button>{{ sprint.sprintName }}</button> <!-- Sprint naam zoals Sprint 1, Sprint 2, enz. -->
    </li>
    {% endfor %}
</ul>

<div class="wrapper-day">
    {% for sprint in sprintEntries %}
    <section class="nav-weken">
        <h2>{{ sprint.sprintName }}</h2> <!-- Toon de sprintnaam zoals Sprint 1 -->

        <!-- Loop door de weken van deze sprint -->
        {% for week in sprint.weeks %}
        <a href="/day?week={{ week.slug }}" {% if week.slug==selected %}class="active" {% endif %}>
            {{ week.label }}
        </a>
        {% endfor %}
    </section>
    {% endfor %}

    <ul class="week">
        <li class="day">
            <div class="markdown-body">{{ content | raw }}</div>
        </li>
    </ul>
</div>